.mat-error{
    font-size: smaller;
    margin-top:-20px;
}
.mat-card-header{
    margin-right:170px
}
.card{
    box-shadow: 2px 2px 2px 2px lightblue;     
}

  .container{
    flex: 1 0 auto;
    background-image:url(../../../assets/CTLogo/HDWall4.jpg);
    height:89.5vh
  
  }