
  <mat-toolbar class="mat-elevation-z2">
    <mat-toolbar-row *ngIf="!devicesXs" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
    
      <div class="left-end" fxLayoutGap="55px" fxLayoutAlign="start center">
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()" style="color:white">menu</mat-icon>
    </button>
    
    <span class="logo"><img src="../../../assets/CTLogo/newLogocolor.png" style="height:65px"></span>
    <span class="title" style="color:white">CT General Hospital</span>
  </div>
   
   
  <div class="right-end" fxLayoutGap="80px">
    
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <img style="height:30px;width:20px" mat-card-avatar
      src="https://cdn3.iconfinder.com/data/icons/avatars-flat/33/man_5-1024.png"
      alt="Shiba Inu">{{ActiveUsers}}
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="userRole =='user'" mat-menu-item routerLink="/dashboard/user-profile">
        <mat-icon style="color:rgb(178, 19, 112)">info</mat-icon>
        <span>Profile</span>
      </button>
      <button *ngIf="userRole!='user'" mat-menu-item routerLink="/dashboard/employee/profile">
        <mat-icon style="color:rgb(178, 19, 112)">info</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon style="color:red">logout</mat-icon>
        <span>Sign Out</span>
      </button>
    </mat-menu>
    <button mat-raised-button color="primary" routerLink="/about-us"><mat-icon style="color:white">contacts</mat-icon>About Us</button>
  </div>
</mat-toolbar-row>

<mat-toolbar-row class="mat-elevation-z2" *ngIf="devicesXs" fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-icon-button>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <button mat-icon-button>
    <span><img src="../../../assets/CTLogo/newLogocolor.png" style="height:58px;margin-top: -10px;"></span>
  </button>
  <div fxLayoutAlign="end">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>face</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/dashboard/user-profile">
      <mat-icon style="color:rgb(178, 19, 112)">info</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon style="color:red">logout</mat-icon>
      <span>Sign Out</span>
    </button>
  </mat-menu>
  <button mat-icon-button ><mat-icon>contacts</mat-icon></button>
  </div>
</mat-toolbar-row >
</mat-toolbar>

 
 
  <mat-sidenav-container >
    <mat-sidenav #sidenav mode="side" [opened]="!devicesXs">
      <mat-nav-list>  


        <mat-card *ngIf="userRole!='user'">
          <mat-card-header>
            <img style="height:40px;width:30px" mat-card-avatar
            src="https://cdn3.iconfinder.com/data/icons/avatars-flat/33/man_5-1024.png"
            alt="Shiba Inu"> 
  
            <mat-card-title><a routerLink="/dashboard/employee/profile" style="font-size:15px">{{ActiveUsers}}</a></mat-card-title>
            
            <mat-card-subtitle><a routerLink="/dashboard/employee/profile">{{personIs}}</a></mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        
        <mat-card *ngIf="userRole=='user'">
        <mat-card-header>
          <img style="height:40px;width:30px" mat-card-avatar
          src="https://cdn3.iconfinder.com/data/icons/avatars-flat/33/man_5-1024.png"
          alt="Shiba Inu"> 

          <mat-card-title><a routerLink="/dashboard/user-profile" style="font-size:15px">{{ActiveUsers}}</a></mat-card-title>
          
          <mat-card-subtitle><a routerLink="/dashboard/user-profile">{{personIs}}</a></mat-card-subtitle>
        </mat-card-header>
      </mat-card>

        <h3 matSubheader *ngIf="userRole!='admin'">User Control</h3>

        <mat-list-item *ngIf="userRole!='admin'" [routerLink]="'/dashboard'">
          <mat-icon mat-list-icon style="font-size:20px;margin-left:6px">home</mat-icon>
          <span class="menu-item">Home</span>
        </mat-list-item>
        <mat-list-item *ngIf="userRole =='admin'" [routerLink]="'/dashboard/admin'">
          <mat-icon mat-list-icon style="font-size:20px;margin-left:6px">home</mat-icon>
          <span class="menu-item">Home</span>
        </mat-list-item>
  
        <mat-list-item *ngIf="userRole=='physician' || userRole=='nurse'" [routerLink]="'/dashboard/inbox'">
          <mat-icon mat-list-icon style="font-size:20px;margin-left:6px">all_inbox</mat-icon>
          <span class="menu-item">Inbox</span>
        </mat-list-item>

        <mat-accordion  *ngIf="userRole=='physician' || userRole=='nurse'">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <!-- Cabeceras del submenu -->
                <div fxLayout="row" fxLayoutAlign="space-between center" >
                  <mat-icon mat-list-icon style="font-size:20px">question_answer</mat-icon>
                  Notes
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <mat-list-item  [routerLink]="'/dashboard/sendnotes'" >
                <!-- Entradas de cada submenú  -->
                <div fxLayout="row" fxLayoutAlign="space-between center" >
                 <mat-icon mat-list-icon style="font-size:20px">send</mat-icon>
                  Send Note
                </div>
              </mat-list-item>
              <mat-list-item [routerLink]="'/dashboard/viewnotes'" >
                <!-- Entradas de cada submenú  -->
                <div fxLayout="row" fxLayoutAlign="space-between center" >
               <mat-icon mat-list-icon style="font-size:20px">drafts</mat-icon>
                  View Sent Notes
                </div>
              </mat-list-item>
              <mat-list-item [routerLink]="'/dashboard/receivednotes'" >
                <!-- Entradas de cada submenú  -->
                <div fxLayout="row" fxLayoutAlign="space-between center" >
                  <mat-icon mat-list-icon style="font-size:20px">markunread_mailbox</mat-icon>
                  Received Notes 
                </div>
              </mat-list-item>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion *ngIf="userRole!='admin'">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <!-- Cabeceras del submenu -->
                <div fxLayout="row" fxLayoutAlign="space-between center" >
                  <mat-icon mat-list-icon style="font-size:20px">schedule</mat-icon>
                  Scheduler
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <mat-list-item [routerLink]="'/dashboard/add-appointment'" >
                <!-- Entradas de cada submenú  -->
                <div fxLayout="row" fxLayoutAlign="space-between center" >
                 <mat-icon mat-list-icon style="font-size:20px">edit_calendar</mat-icon>
                  Book
                </div>
              </mat-list-item>
              <mat-list-item *ngIf="userRole=='physician' || userRole=='nurse'"  [routerLink]="'/dashboard/calender'" >
                <!-- Entradas de cada submenú  -->
                <div fxLayout="row" fxLayoutAlign="space-between center" >
               <mat-icon mat-list-icon style="font-size:20px">calendar_month</mat-icon>
                  View Calender
                </div>
              </mat-list-item>
              <mat-list-item [routerLink]="'/dashboard/appointments'" >
                <!-- Entradas de cada submenú  -->
                <div fxLayout="row" fxLayoutAlign="space-between center" >
                  <mat-icon mat-list-icon style="font-size:20px">event_available</mat-icon>
                  Appointments
                </div>
              </mat-list-item>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- <mat-list-item >
          <mat-icon mat-list-icon style="font-size:20px;margin-left:6px">edit_calendar</mat-icon>
          <span class="menu-item">Scheduler</span>
        </mat-list-item> -->

        <mat-accordion *ngIf="userRole!='admin'">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <!-- Cabeceras del submenu -->
                <div fxLayout="row" fxLayoutAlign="space-between center" >
                  <mat-icon>personal_injury</mat-icon>&nbsp;
                  Patient
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <mat-list-item *ngIf="userRole=='physician' || userRole=='nurse'" [routerLink]="'/dashboard/employees/patient'" >
                <!-- Entradas de cada submenú  -->
                <div fxLayout="row" fxLayoutAlign="space-between center" >
                  <mat-icon>receipt_long</mat-icon>&nbsp;
                  Patient Details
                </div>
              </mat-list-item>
              <mat-list-item *ngIf="userRole=='user'" [routerLink]="'/dashboard/patient-demographic'" >
                <!-- Entradas de cada submenú  -->
                <div fxLayout="row" fxLayoutAlign="space-between center" >
                  <mat-icon>assignment_ind</mat-icon>&nbsp;
                  Demographic
                </div>
              </mat-list-item>
              <!-- <mat-list-item [routerLink]="'/dashboard/employee/patient-visit'" >
               
                <div fxLayout="row" fxLayoutAlign="space-between center" >
                  <mat-icon>vaccines</mat-icon>&nbsp;
                  Visit Details
                </div>
              </mat-list-item> -->
              <mat-list-item *ngIf="userRole=='user'" [routerLink]="'/dashboard/patient/visit-history'" >
                <!-- Entradas de cada submenú  -->
                <div fxLayout="row" fxLayoutAlign="space-between center" >
                  <mat-icon>history_edu</mat-icon>&nbsp;
                  Visit History
                </div>
              </mat-list-item>
          </mat-expansion-panel>
        </mat-accordion>
       
        
        <mat-divider></mat-divider>
        <h3 matSubheader *ngIf="userRole=='admin'">Admin Control</h3>
       
        <mat-list-item *ngIf="userRole=='admin'" [routerLink]="'/dashboard/admin/emp-details'">
          <mat-icon mat-list-icon style="font-size:20px"><span class="material-icons">
            hail
            </span></mat-icon>
          <span class="menu-item">Employees</span>
        </mat-list-item>
  
        <mat-list-item *ngIf="userRole=='admin'" [routerLink]="'/dashboard/admin/patient-details'">
          <mat-icon mat-list-icon style="font-size:20px">personal_injury</mat-icon>
          <span class="menu-item">Patients</span>
        </mat-list-item>
        
        
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 150vh;">
        <router-outlet></router-outlet>
    
       
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>