.mat-card-header{
    margin-right:150px;
}
.container{
  flex: 1 0 auto;
  background-image:url(../../../assets/CTLogo/HDWall4.jpg);
  height:89.5vh

}

  .card{
    margin-top:8%;
    box-shadow: 2px 2px 2px 2px lightblue;
    
    
  }
  .mat-error{
    font-size: smaller;
    margin-top:-20px;
}