<app-shared-landing-toolbar></app-shared-landing-toolbar>
<div class="container"fxLayoutAlign="space-evenly center">
    <div class="rightCard">
        <mat-card [formGroup]= "forgotpassword" class="card" fxLayout="column" fxLayoutAlign="center center">

            <mat-card-header><mat-card-title>
                <button mat-icon-button>
                    <img src="../../../assets/CTLogo/CardLogo.png" style="height:40px">
              
                    <span class="cardTitle" style="font-size:18px" ><b>Reset Password</b></span>
                    </button></mat-card-title>
            
            </mat-card-header>
            <p class="email" style="margin-top:30px">
                <mat-form-field style="width:300px;" appearance="outline">
                    <mat-label><b>UserId/Email</b></mat-label>
                    <input formControlName="email" matInput type="email" matInput placeholder="abc@xyz.com" required>
                    <mat-icon matSuffix>email</mat-icon>
                    <span style="width:500px"></span>
                </mat-form-field>
                <mat-error *ngIf= "forgotpassword.controls['email'].dirty && forgotpassword.hasError('required','email')">Please enter your Email address
                </mat-error>
                <span ></span>
            </p>

            <div>
                <p fxLayoutGap="40px" fxLayout.xs="column">
                    <button mat-raised-button class="loginButton" color="primary" (click)="backToLogin()">Back</button>
                    <button mat-raised-button color="primary" (click)="passwordforgot()">Send</button>
                </p>
            </div>
        </mat-card>
    </div>
</div>