mat-card {
    background: lightblue;
    box-shadow: 2px 2px 2px 2px lightblue;
    margin-top: 5%;
    justify-content: center;
    position: relative;
    width:86%;
    display:flex;
    
  }

  .viewNotes{
    width:83%
  }
