

.pwdBox{
    padding-bottom: 0%;
}

.title{
    font-size: 24px;
   margin-left:-45%;
  }


  .mat-toolbar{
      background-color:#4f8bc0 ;
      z-index: 2;
      position: relative;
  }

.password{
    display:grid
}
.email{
display: grid;
}

.card{
    box-shadow: 2px 2px 2px 2px;
    
   
}
.material-icons.orange600{
color:darkcyan;
font-size: 36px;
}

.container{
  flex: 1 0 auto;
  background-image:url(../../../assets/CTLogo/HDWall4.jpg);
  height:89.5vh

}
.mat-toolbar-row{
    display:flexbox
}
.aboutus{
    margin-left:5%;
   
}

.loginButton{
    width:90px;
}

.mat-error{
    margin-top:-21px;
    margin-left:90px;
}
.left-end{
    margin-bottom: 8px;
}


