<mat-toolbar class="mat-elevation-z2" *ngIf="!deviceXs" fxLayoutGap="50px">
    <mat-toolbar-row fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
    
      
    
        <span><img src="../../../assets/CTLogo/newLogocolor.png" style="height:65px;margin-top:7px"></span>
        <span class="title" style="color:white" >CT General Hospital</span>


   
   <div class="right-end" fxLayoutGap="80px" style="margin-right:50px">
    <button mat-raised-button (click)="getLocation()" class="Block">
        <mat-icon style="color:white">emergency_share</mat-icon>SOS Emergency
    </button>
    <button mat-raised-button color="primary" (click)="register()">
        <mat-icon style="color:white">how_to_register</mat-icon>SignUp
    </button>
    <button mat-raised-button color="primary" routerLink="/about-us"><mat-icon style="color:white">contacts</mat-icon>About Us</button>
  </div>
  </mat-toolbar-row>
  </mat-toolbar>

  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
    <div class="rightCard">
        <mat-card class="card" fxLayout="column" fxLayoutAlign="center center">

            <mat-card-header><mat-card-title>
                <button mat-icon-button style="margin-right:50px">
                <span><img src="../../../assets/CTLogo/CardLogo.png" style="height:35px"></span>
                
                <span class="cardTitle" style="font-size:18px"><b>Login</b></span></button></mat-card-title>
            
            </mat-card-header>
            <p class="email">
                <mat-form-field [formGroup]= "loginForm" appearance="outline">
                    <mat-label><b>UserId/Email</b></mat-label>
                    <input matInput type="email" matInput formControlName="email" placeholder="abc@xyz.com" required>
                    <mat-icon matSuffix>email</mat-icon>               
                </mat-form-field>
                <mat-error *ngIf= "loginForm.controls['email'].dirty && loginForm.hasError('required','email')">
                    Email is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf= "loginForm.controls['email'].dirty && loginForm.hasError('email','email')">
                    Invalid Email
                </mat-error>
                <span   style="width:300px"></span>
            </p>
            <p class="password">
                <mat-form-field [formGroup]= "loginForm" class="pwdBox" appearance="outline">
                    <mat-label><b>Password</b></mat-label>
                    <input matInput type="password" matInput formControlName="password" placeholder="password" required>
                    <mat-icon matSuffix>vpn_key</mat-icon>
                </mat-form-field>
                <mat-error *ngIf= "loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
                    Password is <strong>required</strong>
                </mat-error>
                <a class="resetPwd" routerLink="/forgot-password" style="text-decoration: none;margin-left: 185px;"><b>Forgot Password?</b></a>
            </p>




            <div>
                <p style="margin-top:50px" fxLayoutGap="15px" fxLayout.xs="column">
                    <button mat-raised-button class="loginButton" color="primary" (click)= "login()">Login</button>
                    <button mat-raised-button color="primary" (click)="register()">Register</button>
                </p>
            </div>



        </mat-card>
    </div>
</div>