

<mat-card [formGroup]= "sendNoteForm" class="card" fxLayout="column" fxLayoutAlign="center center">
   
    <mat-card-header>
            
        <div class="heading">
        
          <img src="../../../assets/CTLogo/CardLogo.png" style="height:40px">
         
             
         <span class="cardTitle" style="font-size:18px" ><b>Send Notes</b></span>
        </div>
      
      </mat-card-header>
   
      <div fxLayout="row" fxLayoutGap="50px" fxLayout.xs="column">
        <p class="name">
            <mat-form-field appearance="outline">
                <mat-label><b>Receiver Name</b></mat-label>
                <input matInput type="text" value="{{receiverName}}" readonly required>                 
            </mat-form-field>          
            
        </p>
      </div>
     

      <div fxLayout="row" fxLayoutGap="50px" fxLayout.xs="column">
        <p class="name">
            <mat-form-field appearance="outline">
                <mat-label><b>Receiver Designation</b></mat-label>
                <input matInput type="text" value="{{receiverDesignation}}" readonly required>                 
            </mat-form-field>          
            
        </p>
      </div>
      <div fxLayout="row" fxLayoutGap="50px" fxLayout.xs="column">
        <p class="name">
            <mat-form-field appearance="outline">
                <mat-label><b>Message</b></mat-label>
                <input matInput type="textarea" formControlName="Message"  required>                 
            </mat-form-field>          
            
        </p>
      </div>

     
        <div>
            <p  fxLayoutGap="15px" fxLayout.xs="column">
                <button mat-raised-button class="loginButton" color="primary" (click)= "sendNote()">Send Note</button>
                <button mat-raised-button color="primary" routerLink="/dashboard">Cancel</button>
            </p>
        </div>
</mat-card>

