.mat-error{
    font-size: smaller;
    margin-top:-20px;
}
.mat-card-header{
    margin-right:170px
}
.card{
    box-shadow: 2px 2px 2px 2px;     
}
.container{
    flex: 1 0 auto;
    background-image:url(../../../assets/CTLogo/medical-icons-seamless-pattern-can-be-used-any-medical-healthcare-topics-as-wallpaper-illustration-wrapping-paper-111326836.jpg);
    height:89.5vh
  
  }