

<mat-card [formGroup]= "sendNoteForm" class="card" fxLayout="column" fxLayoutAlign="center center">
   
    <mat-card-header>
            
        <div class="heading">
        
          <img src="../../../assets/CTLogo/CardLogo.png" style="height:40px">
           <mat-divider></mat-divider>
              
          <span class="cardTitle" style="font-size:18px" ><b>Send Notes</b></span>
         
        </div>
        
      
      </mat-card-header>
      
    <mat-form-field appearance="outline">
     
        <mat-label><b>Receiver Name</b></mat-label>
        <mat-select  formControlName="ReceiverName"  (ngModelChange)="onDropdownChange($event)">
          <mat-option *ngFor= "let emp of employees" value="{{emp.id}}" [attr.data-id]="emp.id" attr.data-email="{{emp.email}}" attr.data-name="{{emp.name}}" attr.data-role="{{emp.role}}">
            {{emp.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-error *ngIf= "sendNoteForm.controls['ReceiverName'].dirty && sendNoteForm.hasError('required','ReceiverName')">Please select receiver name
      </mat-error>

      <div fxLayout="row" fxLayoutGap="50px" fxLayout.xs="column">
        <p class="name">
            <mat-form-field appearance="outline">
                <mat-label><b>Receiver Designation</b></mat-label>
                <input matInput type="text" formControlName="ReceiverDesignation" readonly required>                 
            </mat-form-field>          
            
        </p>
      </div>
      <div fxLayout="row" fxLayoutGap="50px" fxLayout.xs="column">
        <p class="name">
            <mat-form-field appearance="outline">
                <mat-label><b>Message</b></mat-label>
                <input matInput type="textarea" formControlName="Message"  required>                 
            </mat-form-field>          
            
        </p>
      </div>

      <div class="radio" style="margin-top:10px;display: flex;" >
             
        <div>
          <input type="radio" id="Mr" formControlName="IsUrgent" name="IsUrgent" value="Urgent">
          <label for="Urgent">Urgent</label>
        </div>
    
        <div>
          <input type="radio" id="Mrs" formControlName="IsUrgent" name="IsUrgent" value="Not Urgent">
          <label for="NotUrgent">Not Urgent</label>
        </div>        
        
        <mat-error style="margin-top:0px"  *ngIf= "sendNoteForm.controls['IsUrgent'].dirty && sendNoteForm.hasError('required','IsUrgent')">Urgency level Required
      </mat-error>
        </div>
        <br>
        <div>
            <p  fxLayoutGap="15px" fxLayout.xs="column">
                <button mat-raised-button class="loginButton" color="primary" (click)= "sendNote()">Send Note</button>
                <button mat-raised-button color="primary" routerLink="/dashboard">Cancel</button>
            </p>
        </div>
</mat-card>

