.radio{
    gap:10px;
    display:flex;
  }
  
  .card{
    box-shadow: 2px 2px 2px 2px rgb(150, 207, 225);
    width: fit-content;
    margin: auto;
    margin-bottom: 3%;
    margin-top: 3%;
   
  }
  
  .heading{
    display: inline-flex;
  }
  .cardTitle{
    margin-top: 4%;
   
  }
  
  .mat-error{
      font-size: smaller;
      margin-top:-20px;
  }
  mat-horizontal-content-container{
    background-color:rgb(234, 246, 254);
  }