<div class="container">
    <div >
        <mat-card fxLayout="column" fxLayoutGap="5%" >
            <!-- <mat-card-title fxLayoutAlign="center center">
                <img src="../../../assets/CTLogo/CardLogo.png" style="height:50px">
                <span class="cardTitle" style="font-size:18px" ><b>My Profile</b></span>
            </mat-card-title> -->
           
            <div fxLayout="row">
                <img style="height:100px;width:70px" mat-card-avatar
                    src="https://cdn3.iconfinder.com/data/icons/avatars-flat/33/man_5-1024.png"
                    alt="Shiba Inu">
                <mat-card-header> 
                    <mat-card-title style="font-size:15px;color:#4f8bc0">{{user.name}}</mat-card-title>

                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
            
                <mat-card-content style="margin-top:4%;margin-left:-6%">                  
                    <form fxLayout="row" fxLayout.xs="column" [formGroup]="userProfile">                   
                       
                        <div fxLayout="column"  fxLayoutAlign="">
                            <div><b>Email</b></div>
                            <mat-divider></mat-divider>
                            <br>
                            <input type="text" disabled placeholder="No Data" id="email" value="{{user.email}}">
                        </div>
    
                        <div fxLayout="column" >
                            <div><b>Contact</b></div>
                            <mat-divider></mat-divider>
                            <br>
                            <input type="text" disabled placeholder="No Data" id="email" value="{{user.contact}}">
                        </div>
    
                        <div fxLayout="column" >
                            <div><b>Gender</b></div>
                            <mat-divider></mat-divider>
                            <br>
                            <input type="text" disabled placeholder="No Data" id="name" value="{{user.gender}}">
                        </div>
    
                        <div fxLayout="column" >
                            <div><b>Age</b></div>
                            <mat-divider></mat-divider>
                            <br>
                            <input type="text" disabled placeholder="No Data" id="dateOfBirth" value="{{user.age}}">
                        </div>
    
                        <div fxLayout="column">
                            <div><b>Address</b></div>
                            <mat-divider></mat-divider>
                            <br>
                            <input type="text" disabled placeholder="No Data" id="role" value="{{user.address}}">
                        </div>  
                        <div fxLayout="column">
                            <div><b>&nbsp;</b></div>
                            <mat-divider></mat-divider>
                            <br>
                            <button mat-raised-button color="primary" routerLink="/dashboard/patient-demographic" style="margin-top: -29%;margin-left:-19px">Edit</button>
                        </div>  
                      
                      
                        
                       
                                  
                </form>
                   
            </mat-card-content>
        </div>
        
    
        
            

        </mat-card>
    </div>
    <br>
    <div>
        <mat-accordion fxLayoutGap="">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title fxLayoutGap="3%" style="color:#4f8bc0">
                      
                        <b>Emergency Details</b>
                    </mat-panel-title>
                    <mat-panel-description>
                        Check Your Emegency Details
                    </mat-panel-description>
                </mat-expansion-panel-header>
              
            <mat-card fxLayout="column" fxLayoutGap="5%" >
               
                <div fxLayout="row">
                    <img style="height:100px;width:70px" mat-card-avatar
                        src="https://cdn4.iconfinder.com/data/icons/people-avatar-1-2/512/29-1024.png"
                        alt="Shiba Inu">
                    <mat-card-header> 
                        <mat-card-title style="font-size:15px;color:#4f8bc0"> {{emergencyContact.firstName}}</mat-card-title>
    
                        <mat-card-subtitle></mat-card-subtitle>
                    </mat-card-header>
                
                    <mat-card-content style="margin-top:3%;margin-left:-6%">                  
                        <form fxLayout="row" fxLayout.xs="column" [formGroup]="userProfile">                   
                           
                            <div fxLayout="column"  fxLayoutAlign="">
                                <div><b>Relation</b></div>
                                <mat-divider></mat-divider>
                                <br>
                                <input type="text" disabled placeholder="No Data" value="{{emergencyContact.relationship}}">
                            </div>
        
                            <div fxLayout="column" >
                                <div><b>Contact</b></div>
                                <mat-divider></mat-divider>
                                <br>
                                <input type="text" disabled placeholder="No Data" value="{{emergencyContact.contactNo}}">
                            </div>
        
                            <div fxLayout="column" >
                                <div><b>Email</b></div>
                                <mat-divider></mat-divider>
                                <br>
                                <input type="text" disabled placeholder="No Data" value="{{emergencyContact.email}}">
                            </div>
        
                          
        
                            <div fxLayout="column">
                                <div><b>Address</b></div>
                                <mat-divider></mat-divider>
                                <br>
                                <input type="text" disabled placeholder="No Data" value="{{emergencyContact.address}}">
                            </div>                         
                    </form>
                       
                </mat-card-content>
            </div>
            
        
            
                
    
            </mat-card>

            </mat-expansion-panel>
        </mat-accordion>
<br>
        <mat-accordion>
            <mat-expansion-panel (opened)="true">
                <mat-expansion-panel-header>
                    <mat-panel-title fxLayoutGap="3%" style="color:#4f8bc0">
                      
                        <b>Allergy Details</b>
                    </mat-panel-title>
                    <mat-panel-description>
                       Check Your Allergy Details
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-card fxLayout="column" fxLayoutGap="5%" >
                <div fxLayout="row">
                    <img style="height:100px;width:70px" mat-card-avatar
                        src="https://th.bing.com/th/id/R.cf76715434e46af678311ac635b3384c?rik=RdXgkN%2f8cWQ07g&riu=http%3a%2f%2faddlifes.com%2fspeciality_picture%2fallerg_1595231391.png&ehk=lxTLFK9AToQPAqL4gG0EtxyRxSHAvpBYT7SN8pE6ao8%3d&risl=&pid=ImgRaw&r=0"
                        alt="Shiba Inu">
                    <mat-card-header> 
                        <mat-card-title style="font-size:15px;color:#4f8bc0"> Allergy</mat-card-title>
    
                        <mat-card-subtitle>List</mat-card-subtitle>
                    </mat-card-header>
                
                    <mat-card-content style="margin-top:5%;margin-left:-4%">                  
                        <form fxLayout="row" fxLayout.xs="column" [formGroup]="userProfile">                   
        
                            <div fxLayout="column" >
                                <div><b>Allergy Name</b></div>
                                <mat-divider></mat-divider>
                                <br>
                                <input type="text" disabled placeholder="Allergy Name" value="{{allergy.allergy_Name}}">
                            </div>
        
                            <div fxLayout="column" >
                                <div><b>Allergy Type</b></div>
                                <mat-divider></mat-divider>
                                <br>
                                <input type="text" disabled placeholder="Allergy Type" value="{{allergy.allergy_Type}}" >
                            </div>
        
                            <div fxLayout="column" >
                                <div><b>Description</b></div>
                                <mat-divider></mat-divider>
                                <br>
                                <input type="text" disabled placeholder="Description" value="{{allergy.allergy_Desc}}">
                            </div>
        
                            <div fxLayout="column">
                                <div><b>Allergy Id</b></div>
                                <mat-divider></mat-divider>
                                <br>
                                <input type="text" disabled placeholder="Email" value="{{allergy.allergyId}}">
                            </div>          
                            <div fxLayout="column">
                                <div><b>Allergy Clinical</b></div>
                                <mat-divider></mat-divider>
                                <br>
                                <input type="text" disabled placeholder="Email" value="{{allergy.allergy_Clinical}}">
                            </div>                      
                                      
                    </form>
                       
                </mat-card-content>
            </div>
            </mat-card>
                    </mat-expansion-panel>
           
        </mat-accordion>
    </div>
</div>