.radio{
    gap:10px;
    display:flex;
}
.logo{
    font-size: 24px;
  }
  .mat-toolbar{
      background-color: #a4f7e6;
  }
  .card{
      margin-top: 10px;
    box-shadow: 2px 2px 2px 2px;

   
   
}
.rightCard{
    height:75vh
}
.container{
    flex: 1 0 auto;
    background-image:url(../../../assets/CTLogo/NewWall1.jpg);
    height:89.5vh
  
  }

  .mat-error{
      font-size: smaller;
      margin-top:-20px;
  }