.mat-card-header{
    margin-right:150px;
}
.container{
    flex: 1 0 auto;
    background-image:url(../../assets/CTLogo/NewWall1.jpg);    
    height:89.5vh
  
  }

  .card{
    box-shadow: 2px 2px 2px 2px;
    
  }