<app-shared-landing-toolbar></app-shared-landing-toolbar>
<div class="container"fxLayoutAlign="space-evenly center">
    <div class="rightCard">
        <mat-card class="card" fxLayout="column" fxLayoutAlign="center center">

            <mat-card-header><mat-card-title>
                <button mat-icon-button>
                <span><img src="../../assets/CTLogo/logowithwhitebg.png" style="height:50px"></span>
                
                <span class="cardTitle" style="font-size:18px">Reset Password</span></button></mat-card-title>
            
            </mat-card-header>
            <p class="email" style="margin-top:30px">
                <mat-form-field style="width:300px;" appearance="outline">
                    <mat-label><b>UserId/Email</b></mat-label>
                    <input matInput type="email" matInput placeholder="abc@xyz.com" required>
                    <mat-icon matSuffix>email</mat-icon>
                    <span style="width:500px"></span>
                </mat-form-field>
                <span ></span>
            </p>

            <div>
                <p fxLayoutGap="40px" fxLayout.xs="column">
                    <button mat-raised-button class="loginButton" style="background-color:rgba(3, 161, 170,1);color:white" (click)="backToLogin()">Back</button>
                    <button mat-raised-button style="background-color:rgba(3, 161, 170,1);color:white" >Send</button>
                </p>
            </div>
        </mat-card>
    </div>
</div>