<!-- <p>about-us works!</p> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<app-shared-landing-toolbar style="height:fit-content; width: 10%;"></app-shared-landing-toolbar>
<div class="container">
    <div class="row mt">
      <div class="col-sm-6 mt-5">
        <p id="ptag"><b>Pioneer in healthcare industry.</b>
            <br>
            <br>
            <b>Giving power to your health.</b></p>
      </div>
      <div class="col-sm-2">
        <img  class="img-fluid" src="../../../assets/CTLogo/AboutUs.PNG" alt="Homepage image" />
       
      </div>
    </div>
    <br>
    <div class="container text-center">
      <div class="row">
        <div class="col-md-3">
          <div class="card" style="width: auto;">
            <img class="card-img-top" src="../../../assets/CTLogo/Registration.png" alt="Card image cap" height="250" width="100">
            <div class="card-body">
              <p class="card-text">Book Appointment Online</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: auto;">
            <img class="card-img-top" src="../../../assets/CTLogo/Automated.png" alt="Card image cap" height="250" width="100">
            <div class="card-body">
              <p class="card-text">Automated And Paperless Process</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: auto;">
            <img class="card-img-top" src="../../../assets/CTLogo/DashboardForUsers.png" alt="Card image cap" height="250" width="100">
            <div class="card-body">
              <p class="card-text">Dashboard For Every User</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: auto;">
            <img class="card-img-top" src="../../../assets/CTLogo/Notifications.png" alt="Card image cap" height="229" width="100">
            <div class="card-body">
              <p class="card-text">Personalized notes and appointment notifications.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
