<app-shared-landing-toolbar></app-shared-landing-toolbar>


<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
  <div class="rightCard">
      <mat-card [formGroup]= "registerpatient" class="card" fxLayout="column" fxLayoutAlign="center center">

          <mat-card-header><mat-card-title>
              <button mat-icon-button style="margin-right:50px">
              <span><img src="../../assets/CTLogo/logowithwhitebg.png" style="height:50px"></span>
              
              <span class="cardTitle" style="font-size:18px">SignUp</span></button></mat-card-title>
          
          </mat-card-header>
          
          <div class="radio" style="margin-top:10px" ><b>Title:</b>
             
              <div>
                <input type="radio" id="Mr" formControlName="Title" name="Title" value="Mr">
                <label for="Mr">Mr</label>
              </div>
          
              <div>
                <input type="radio" id="Mrs" formControlName="Title" name="Title" value="Mrs">
                <label for="Mrs">Mrs</label>
              </div>
              <div>
                <input type="radio" id="Ms" formControlName="Title" name="Title" value="Ms">
                <label for="Ms">Ms</label>
              </div>
              <mat-error style="margin-top:0px"  *ngIf= "registerpatient.controls['Title'].dirty && registerpatient.hasError('required','Title')">Title Required
            </mat-error>
              <!-- <small *ngIf= "registerpatient.controls['Title'].dirty && registerpatient.hasError('required','Title')">Kindly select the Title</small> -->
            </div>
          
        <div fxLayout="row" fxLayoutGap="50px" fxLayout.xs="column">
          <p class="name">
              <mat-form-field appearance="outline">
                  <mat-label><b>FirstName</b></mat-label>
                  <input matInput type="text" formControlName="FirstName" matInput placeholder="Jhon" required>                 
              </mat-form-field>
              <mat-error *ngIf= "registerpatient.controls['FirstName'].dirty && registerpatient.hasError('required','FirstName')">First name cannot be empty
              </mat-error>
              <mat-error *ngIf= "registerpatient.controls['FirstName'].dirty && registerpatient.hasError('minlength','FirstName')">Please don’t use abbreviations
              </mat-error>
              
          </p>


          <p class="name">
              <mat-form-field  appearance="outline">
                  <mat-label><b>LastName</b></mat-label>
                  <input matInput type="text" formControlName="LastName" matInput placeholder="Rodriguez" required>               
              </mat-form-field>
              <mat-error *ngIf="registerpatient.controls['LastName'].dirty && registerpatient.hasError('required','LastName')">Last name
                cannot be empty
              </mat-error>
              <mat-error *ngIf="registerpatient.controls['LastName'].dirty && registerpatient.hasError('minlength','LastName')">Please
                don’t use abbreviations
              </mat-error>
          </p>
        </div>

        <div style="margin-left: 33px;" fxLayout="row" fxLayoutGap="50px" fxLayout.xs="column">
          <p class="name">
            <mat-form-field  appearance="outline">
                <mat-label><b>ContactNo.</b></mat-label>
                <input matInput type="number" formControlName="ContactNumber" matInput placeholder="+91 0000000000" required>               
            </mat-form-field>
            <mat-error *ngIf= "registerpatient.controls['ContactNumber'].dirty && registerpatient.hasError('required','ContactNumber')">Please enter Contact number
            </mat-error>
        </p>
        <p class="Dob">
          <mat-form-field style="width:85%" appearance="outline">
          <mat-label><b>DOB</b></mat-label>
            <input matInput formControlName="DateOfBirth" [max]="maxDate" [matDatepicker]="picker" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          <mat-error *ngIf= "registerpatient.controls['DateOfBirth'].dirty && registerpatient.hasError('required','DateOfBirth')">Please enter a valid date of birth
          </mat-error>
      </p>
    </div>
     
    <div fxLayout="row" fxLayoutGap="50px" fxLayout.xs="column">
        <p class="email">
          <mat-form-field appearance="outline">
              <mat-label><b>Email</b></mat-label>
              <input matInput type="email" formControlName="Email" matInput placeholder="abc@xyz.com" required>               
          </mat-form-field>
          <mat-error *ngIf= "registerpatient.controls['Email'].dirty && registerpatient.hasError('email','Email')">Please enter valid Email address
          </mat-error>
          <mat-error *ngIf= "registerpatient.controls['Email'].dirty && registerpatient.hasError('required','Email')">Please enter your Email address
          </mat-error>
      </p>


          <p class="password">
              <mat-form-field  class="pwdBox" appearance="outline">
                  <mat-label><b>Password</b></mat-label>
                  <input matInput type="password" formControlName="Password" matInput  placeholder="password" required>
                  
                </mat-form-field>
              <mat-error *ngIf= "registerpatient.controls['Password'].dirty && registerpatient.hasError('required','Password')">Please Enter Password
              </mat-error>
              <mat-error *ngIf= "registerpatient.controls['Password'].touched && registerpatient.hasError('minlength','Password')">minimum of 8 characters
              </mat-error>
              
              <!-- <mat-error style="margin-right:5px;font-size:xx-small;" *ngIf= "registerpatient.controls['Password'].touched && registerpatient.hasError('pattern','Password')">Password require minimum of 1 Upper<br>case letter, 1 lowercase letter, 1 number
              </mat-error> -->
              
       
          </p>
        </div>
        
          <p class="Confirmpassword">
            <mat-form-field  class="Confirmpassword" appearance="outline">
                <mat-label><b>ConfirmPassword</b></mat-label>
                <input matInput type="password" matInput  formControlName="ConfirmPassword" placeholder="password" required>
            </mat-form-field>
            <mat-error *ngIf= "registerpatient.controls['ConfirmPassword'].dirty && registerpatient.hasError('required','ConfirmPassword')">Please enter confirm Password
            </mat-error>
            <mat-error style="font-size:xx-small" *ngIf= "registerpatient.get('ConfirmPassword')?.touched && registerpatient.get('ConfirmPassword')?.errors?.['matching']">Password and Confirm Password should match
            </mat-error>
            <mat-error *ngIf= "registerpatient.controls['ConfirmPassword'].dirty && registerpatient.hasError('minlength','ConfirmPassword')">Minimum 8 characters
            </mat-error>
        </p>

          <div>
              <p>
                  <button mat-raised-button style="background-color:rgba(3, 161, 170,1);color:white" (click)="patientregister()">SignUp</button>
              </p>
          </div>



      </mat-card>
  </div>
</div>
