.title{
    font-size: 24px;
   margin-left:-15%;
   margin-right:1px
  }
  .mat-toolbar{
      background-color:#4f8bc0 ;
      z-index: 2;
      position: relative;
      height:12%;
  }
  .mat-icon-button{
      margin-bottom: 17px;
  }
  .container{
    flex: 1 0 auto;
    background-image:url(../../../assets/CTLogo/HDWall4.jpg);
    height:89.5vh
  
  }
  .Block{
    background-color:rgb(125, 6, 6);
    color:white
    
   }