.title{
    font-size: 24px;
   margin-left:-45.5%;
   margin-right:1px
  }
  .mat-toolbar{
      background-color: #a4f7e6;
      z-index: 2;
      position: relative;
  }
  .mat-icon-button{
      margin-bottom: 17px;
  }