<div class="mat-elevation-z8" >
  <h2 ><img src="https://cdn3.iconfinder.com/data/icons/business-people-40/313/Flat_Blue-09-24-512.png"
    style="width:50px;height:50px; Margin-top:5px;margin-left: -5%;">&nbsp;&nbsp; Sent Notes</h2>
   
    <table  mat-table [dataSource]="dataSource" matSort>
      
      <ng-container matColumnDef="noteId" hidden>
        <th mat-header-cell *matHeaderCellDef mat-sort-header hidden>Note Id </th>
        <td mat-cell *matCellDef="let row" hidden> {{row.noteId}} </td>
      </ng-container>
      <ng-container matColumnDef="sentDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date&Time </th>
        <td mat-cell *matCellDef="let row"> {{row.sentDate | date:'short'}} </td>
      </ng-container>
  
     
      <ng-container matColumnDef="receiverName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Receiver Name </th>
        <td mat-cell *matCellDef="let row"> {{row.receiverName}}</td>
      </ng-container>
      
      <ng-container matColumnDef="receiverDesignation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Receiver Designation</th>
        <td mat-cell *matCellDef="let row"> {{row.receiverDesignation}}</td>
      </ng-container>
  
      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Message Sent</th>
        <td mat-cell *matCellDef="let row"> {{row.message}}</td>
      </ng-container>
  
     
  
      
      <ng-container matColumnDef="response">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Response</th>
       
        <td mat-cell *matCellDef="let row" >

          <span *ngIf="row.response == true">Received Response</span>

          <span *ngIf="row.response == false">Not Received</span>

        </td>           
          
          
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
     
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>